[mysqld]
pid-file=/var/run/mysqld/mysqld.pid
log-error=/var/log/mysqld.log
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd


# kuso password を許可する
validate_password_policy = 0
validate_password_length = 4

### log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
# 閾値(sec, micro secの精度まで小数点以下指定可能)
long_query_time = 1

# クエリ解析のための一般クエリログ(クソ遅くなるのでベンチで出してはいけない)
general_log = 1
general_log_file = /var/log/mysql/query.log



### innodb
# 目安: innodb_log_file_size * innodb_log_files_in_group <= innodb_buffer_pool_size
# DB専用サーバなら物理メモリサイズの最大8割程度割り当ててもよい
#innodb_buffer_pool_size = 256M
#innodb_log_file_size = 128M
#innodb_log_files_in_group = 2

#innodb_additional_mem_pool_size = 16M
#innodb_log_buffer_size = 16M

#innodb_thread_concurrency = 4

# テーブルごとにibdataを作る
#innodb_file_per_table = 1

# default200,単独の7200rpm HDDとかなら100,I/O性能が良ければもっと高く
#innodb_io_capacity = 500

# テーブルがbuffer poolに収まる程度ならO_DIRECTで
innodb_flush_method = O_DIRECT

# logファイルのflushもディスクflushも毎秒1回(transactionがcommitされてもしない)
innodb_flush_log_at_trx_commit = 0

# 二重書き込みを停止
innodb_doublewrite = 0

# チェックサムの計算を省略
innodb_checksum_algorithm = none



## buffer
#max_heap_table_size = 128M
#tmp_table_size = 128M
#sort_buffer_size = 4M
#read_rnd_buffer_size = 512K
#join_buffer_size = 256K
#read_buffer_size = 256K



## thread pool
# 無効
#thread_handling = one-thread-per-connection
# 有効
thread_handling = pool-of-threads
# vCPUの数あたりで
#thread_pool_size = 2
#thread-pool-idle-timeout = 3600
#thread_pool_oversubscribe = 6


[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

